@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
   overflow-x: hidden;
}
.jur{
   border-top-left-radius: 4px ;
   border-top-right-radius: 4px ;
}
.portofolio .row .col-sm-12 img:hover{
   border-top-left-radius: 50px;
   border-top-right-radius: 1px;
   border-bottom-left-radius: 1px;
   border-bottom-right-radius: 50px;
   transition: 0.5s ease;
}
.portofolio .container{
   overflow: hidden;
}
.footer i:hover{
   transform: translateY(-10px);
   transition: 0.5s;
}


/* hanna */
.fa-users{
   z-index: 1111;
}
.profile .container .row{
   overflow: hidden;
}
.skill-overview .card-body h3{ 
   overflow: hidden;
}
.skill-overview .card-text i { 
   overflow: hidden;
}
.bg-reds {
   background-color: #800000;
}

.bg-cream {
   background-color: #DAD4B5;
}

.bg-blacks {
   background-color: black;
}

.btn-color {
   background-color: #800000;
}

.nav-item .nav-link {
   color: black;
}

.nav-item .nav-link:hover{
   border-bottom: 1px solid #800000;
   color: white;
   transition: 0.5s;
}

.nav-item .nav-link {
   border-bottom: 1px solid #800000;
}

.navbar-collapse {
   display: flex;
   justify-content: center;
}

.text-justify {
   text-align: justify;
}

.text-red {
   color: #800000;
}

.text-cream {
   color: #DAD4B5;
}

.text-black {
   color: black;
}
.fa-user-friends{
   z-index: 1111;
}
@media (max-width: 576px){
   .portofolio .row,
   .journal .row{
      gap: 20px;
   }
   .skill-overview .row{
      gap: 30px;
  }
}






